{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% from "govuk/components/input/macro.njk" import govukInput %}

      <form class="form" action="vehicle-type" method="post">
{{ govukInput({
  name: 'registrationNumber',
  label: {
    text: "What is your vehicle registration number?",
    classes: "govuk-label--m",
    isPageHeading: true },
    classes: "govuk-input--width-10",
    value: data['registration-number']
  }) }}
  


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
